.navbar {
    display: block !important;
    overflow: auto ;
}

#main-nav {
    display: inline-block;
}

.navbar-brand{
    margin-bottom: 20px;
}

#sections a{
    
    font-size: 150%;
    color: #FFFFFF !important;
}

#sections {
    width: 90%;
    margin: 0 0 0 351px;
    vertical-align: middle;
}

.anchor:before {
    display: block;
    content: " ";
    margin-top: -140px;
    height: 140px;
    visibility: hidden;
}

.nav,.navbar-main {
    margin-left: 150px;
    margin-right: 0;
}

.navbar-default {
    background-image: url("../img/header-flip.png");
    background-position: top center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    padding: 0 0 20px;
    font-family: 'Lato', sans-serif;
    min-height: 140px;
    overflow: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 2000px;
}

header {
    margin: 0 0 0px 0;
}

.nav img {

}



.back {
    background-color: rgba(74, 70, 70, 0.6) !important;
}

p {
    font-size: 120%;
}